.graph {
  width: 100%;
  display: block;
}

.line {
  fill: none;
  stroke: #008000;
  stroke-width: 2px;
  // stroke-opacity: 0.5;
}
//
// .line:hover {
//   stroke-opacity: 1;
// }



.dot {
  fill: #e3f5dd;
  stroke: #008000;
  stroke-width: 1px;
  // stroke-opacity: 0.5;
}

// .dot:hover{
//     stroke-opacity: 1;
// }

.line-neg {
  fill: none;
  stroke: #cf0000;
  stroke-width: 2px;
  // stroke-opacity: 0.5;
}

.dot-neg {
  fill: #fdb9ae;
  stroke: #cf0000;
  stroke-width: 1px;
  // stroke-opacity: 0.5;
}

// .dot-neg:hover {
//   stroke-opacity: 1;
// }
//
// .line-neg:hover{
//   stroke-opacity: 1;
// }


.tick text {
  fill: #bbb;
}

.x.axis path {
  display: none;
}

.x.axis line {
  stroke: #fff;
}

.y.axis line, .y.axis path {
  stroke: #ddd;
}
