.graph {
  width: 100%;
  display: block;
}

.line {
  fill: none;
  stroke: #008000;
  stroke-width: 2px;
}

.dot {
  fill: #e3f5dd;
  stroke: #008000;
  stroke-width: 1px;
}

.line-neg {
  fill: none;
  stroke: #cf0000;
  stroke-width: 2px;
}

.dot-neg {
  fill: #fdb9ae;
  stroke: #cf0000;
  stroke-width: 1px;
}


.tick text {
  fill: #bbb;
}

.x.axis path {
  display: none;
}

.x.axis line {
  stroke: #fff;
}

.y.axis line, .y.axis path {
  stroke: #ddd;
}
